.red{
    background-color: cyan;
    padding: 25px;
    color: blue;
    font-size:25px;
    font-weight: bold;

}
.travel{
 font-family:monospace;
 color: blue;
 font-size: 30px;
 font-weight: bold;
}
center span {
    background-color: yellow;
}
.personal{
    border: 10px solid yellow
}
